<section class="container">
  <section class="formContainer">
    <form
      [formGroup]="newGame"
      (ngSubmit)="addGame(newGame.value)"
      *ngIf="formState === 'READY'"
    >
      <p class="title is-4 center">Create a new Game</p>
      <!-- GAME NAME -->
      <div class="field">
        <label class="label">Game Name</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="yeh lo khelo"
            formControlName="gameName"
          />
        </div>
      </div>

      <!-- USER NAME -->
      <div class="field">
        <label class="label">Your Name</label>
        <div class="control has-icons-left">
          <ng-container *ngIf="userName as u; else x">
            <p class="input is-disabled">{{ u }}</p>
          </ng-container>
          <ng-template #x>
            <input
              class="input is-success"
              type="text"
              placeholder="John Cena"
              formControlName="userName"
            />
          </ng-template>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
      </div>

      <!-- CATEGORY -->
      <div class="field">
        <label class="label">Category</label>
        <div class="control">
          <div class="select">
            <select formControlName="category">
              <option value="COURT PIECE">Court Piece</option>
              <option value="LAKDI">Lakdi</option>
              <option value="DEHLA PAKAD">Dehla Pakad</option>
              <option value="SWEEP">Sweep</option>
            </select>
          </div>
        </div>
      </div>

      <!-- PRIVACY -->
      <div class="field">
        <label class="label">Private</label>
        <div class="control">
          <label class="radio">
            <input
              type="radio"
              name="private"
              value="true"
              formControlName="private"
            />
            Yes
          </label>
          <label class="radio">
            <input
              type="radio"
              name="private"
              formControlName="private"
              value="false"
              checked
            />
            No
          </label>
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="field" *ngIf="newGame.value.private === 'true'">
        <label class="label">Password</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="yeh lo khelo"
            formControlName="password"
          />
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button
            type="submit"
            class="button is-link"
            [disabled]="!newGame.valid"
          >
            Submit
          </button>
        </div>
        <!-- <div class="control">
        <button type="reset" class="button is-link is-light">Cancel</button>
      </div> -->
      </div>
    </form>
    <div *ngIf="formState !== 'READY'">
      <p
        class="subtitle is-6 center has-text-dark"
        *ngIf="formState === 'SUBMIT'"
      >
        Submitting Form
        <button
          class="button is-centered is-primary"
          [class.is-loading]="formState === 'SUBMIT'"
          (click)="addMoreGame()"
        >
          Go Back
        </button>
      </p>
      <p class="subtitle is-6 center" *ngIf="formState === 'SUCCESS'">
        Form submitted
        <button class="button is-light" (click)="addMoreGame()">
          Go Back
        </button>
        <button class="button is-primary" (click)="viewGame()">
          View Game
        </button>
      </p>
      <p class="subtitle is-6 center" *ngIf="formState === 'ERROR'">
        Form submission Error {{ err }}
        <button class="button is-danger" (click)="addMoreGame()">
          Go Back
        </button>
      </p>
    </div>
  </section>
</section>
