<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="assets/img/home_bg.jpg" alt="Placeholder image" />
    </figure>
  </div>
  <div class="card-content">
    <p class="title is-4 center">{{ name }}</p>
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
      iaculis mauris.
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">2/4 joined</a>
    <a class="card-footer-item">
      <button class="button is-link is-light">Join</button>
    </a>
  </footer>
</div>
