<!--======= Temporary Template Holders =======-->
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>

<ng-template #noGamesFound>
  <p>
    No Games Found for Category: {{ category }} Private:
    {{ private }}
  </p>
</ng-template>
<!--======= End of Temporary Template Holders =======-->

<!-- TOP SECTION: Filter Bar -->

<app-games-filter-bar
  (catChangeEvt)="catChange($event)"
  (pubChangeEvt)="pubChange($event)"
></app-games-filter-bar>

<!-- CONTENT SECTION: LIST OF GAMES -->
<section class="container">
  <ng-container
    *ngIf="
      games$
        | async
        | filter: 'category':category
        | bool: 'private':private as games;
      else loading
    "
  >
    <!-- We have Games -->
    <ng-container *ngIf="games.length > 0; else noGamesFound">
      <section class="gameCardsContainer">
        <ng-container *ngFor="let game of games">
          <app-game-card [data]="game"></app-game-card>
        </ng-container>
      </section>
    </ng-container>
  </ng-container>
</section>
